.hero__button{
	
	a{	
		overflow: hidden;
		position: relative;
		text-transform: uppercase;
		padding: 17px 34px;
		background:$background__button;
		font-size: 14px;
		line-height: 171%;
		text-align: center;
		letter-spacing: 4px;
		transition: background 0.3s;
		white-space: nowrap;
		display: inline-block;	
		z-index: 50;	
		&:hover{
			background:darken($background__button, 6%);
		}

		span{
			position: absolute;
			background:  #fff;
			-webkit-transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
			-o-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
			border-radius: 50%;
			pointer-events: none;
			z-index:60;
			animation: ripples 1s infinite;
		}

		@keyframes ripples{
			0%{
				opacity: 0.7;
				width: 0;
				height: 0;

			}

			100%{
				opacity: 0;
				width: 200px;
				height: 200px;

			}
		}
	}


}