.services__menu{
	.services__item > *{
		color: $color__text;
		opacity: .5;
		line-height: 156%;
	}
}
.services__item{
	padding-bottom: $padding__menu;
	display: flex;
	align-items: center;
	&:hover{
		a{
			color: $color__hover;
			opacity: 1;
		}

	}
}

.services__list{
	justify-content: space-between;
}