@mixin small {
  @media(max-width: #{$small}) {
    @content;
  }
}



@mixin md {
  @media(min-width: #{$md}) {
    @content;
  }
}


@mixin lg {
  @media(min-width: #{$lg}) {
    @content;
  }
}

@mixin xl {
  @media(min-width: #{$xl}) {
    @content;
  }
}
