$color__title:      #151515;
$color__text:       #222222;
$color__white:      #ffffff;
$color__black: 		#000000;
$color__hover: 		#1434e1;

$background__button:#4737FF;
$background__white: #f4f4f4;
$background__lines: #222222;
$background__icon:  #E5E5E5;

$padding__big: 		54px;
$padding__middle:   27px;
$padding__menu: 	19px;
$padding__sort: 	25px;
//fonts

$regular__Fira: 'Fira-Sans';
$medium__Fira: 'Fira-Sans-Medium';
$bold__Fira: 'Fira-Sans-Bold';

//resolution
$small: 355px;
$md: 756px;
$lg: 992px;
$xl: 1200px;