//roboto

@font-face {
  font-family: $regular__Fira;
  font-style: 400;
  font-weight: 400;
  src: url("../fonts/Fira_Sans/FiraSans-Regular.ttf");
}
@font-face {
  font-family: $medium__Fira;
  font-style: 600;
  font-weight: 600;
  src: url("../fonts/Fira_Sans/FiraSans-Medium.ttf");
}
@font-face {
  font-family: $bold__Fira;
  font-style: 600;
  font-weight: 600;
  src: url("../fonts/Fira_Sans/FiraSans-ExtraBold.ttf");
}

