.header__menu{
	&.fixed{
		width: 100%;
		position: fixed;
		z-index: 1200;
	}
}

#menu{
	width: 34px;
	height: 14px;
	position: relative;
}


.lines{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    &:before, 
    &:after
    {
        content: "";
        position: absolute;
        display: inline;
        height: 3px;
        background: $background__lines;
        right: 0;
        transition: width 0.3s;
    }

    &:before{
        top: 0;
        width: 100%;
    }
    &:after{
        bottom: 0;
        width: 50%;
    }

    &:hover{
        &:after{
            width: 100%;
        }
    }

}


.close{
	&:before, 
    &:after
    {
      width: 100%;
      background: $color__title ;
      transition: 0.3s;
    }

&:after
    {
     transform: rotate(-45deg);
    	top: 0;
    }
    &:before{
    	transform: rotate(45deg);
    }
}

.menu__container{
	display: none;
}

.open{
	display: flex;
}

.menu__container{
    position: fixed;
    background: #E5E6D0;
    flex-direction: column;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;

}

.menu__container-img{
    width: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../images/bg__menu.svg");
    background-position: center center;

}

.menu__container-top{
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list{
	margin: auto;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	height: 100%;
}

.nav-item{
    display: flex;
    flex-direction: column;
    padding-top: 136px;
    padding-right: 0px;
    align-items: baseline;
}

.nav-link{
    color: #fff;
    font-family: $medium__Fira;
    font-size: 45px;
    line-height: 50px;
    display: flex;
    flex-direction: column;
    text-shadow: 0 5px 13px rgba(0,0,0,0.4);
    white-space: nowrap;
}

@media (max-width: 820px){

    .nav-list{
        padding: 0;
    }
    .col{
        width: 50%;
        align-items: flex-start;
    }
}

@media (max-width: 620px){
    .nav-link{
        font-size: 35px;
    }

    .nav-item{
        padding-top: 100px
    }
}

@media (max-width: 480px){

   .col{
       width: 100%;
   }
    .nav-item{
        padding-top: 30px
    }

    .menu__container-top{
        padding: 30px;
    }
}