.about{
	position: relative;
	padding-bottom: 20px;
	padding-top: $padding__middle;
	img{
		min-height: 100%;
		max-height: 100%;
		opacity: 0.7;
				@include lg{
			opacity: 1;
		}
	}
	@include lg{
		padding-top: $padding__big;
	}
}

.user{
	display: flex;
	&__icon{
		width: 64px;
		height: 64px;
		border-radius: 50%;
		shape-outside: circle();
	}


	&__info{
		line-height: 156%;
		opacity: 1;
		padding-left: $padding__middle;
		padding-top: 6px;
		@include lg{
			opacity: 0.7;
		}
		p{
			margin-top: 0;
		}
	}

	&__name{
		color: $color__text;
		font-size: 22px;
	}

}



