.clients{
	.layout-ancor > *{
		opacity: 1;

	}

	.user__info{
		padding-left: 0;
	}
.clients__labels{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
		.labels{
			svg{
				transition: 0.3s;
				&:hover{
					
					g{
						transition: 0.3s;
						opacity: 1;
					}
				}
			}
		}
	}

}

	