.testimonials{

	.user__info{
		padding-left: 0;
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;

		@include lg{
			-ms-align-items: baseline;
			align-items: baseline;

		}
	}
	.user__name{
		padding-bottom: 13px;
	}
}